<%= form_with(model: @todo_item, url: todo_item, local: true) do |form| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this @todo_item from being saved:</h2>

      <ul>
        <% @todo_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <% if !@todo_item.new_record?%>
  <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
